body {
            font-family: Arial, sans-serif;
            background-image: url('https://tiaju.my.canva.site/contatos-tia-ju-tamanho-original/images/5f8416c2227403fad799ebae426a2c2f.jpg');
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            
            text-align: center;
        }

        .icon-container {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #007bff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .icon img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }

        .button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-primary {
            color: #009ba7;
            background-color: #ffffff;
            border-color: #0d6efd;
        }
        :root {
            --bs-blue: #137e6f;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #343a40;
            --bs-primary: #0d6efd;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #ffc107;
            --bs-danger: #dc3545;
            --bs-light: #f8f9fa;
            --bs-dark: #212529;
            --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
          }
          .container {
            min-height: 300px; /* ou ajuste conforme necessário */
        }
        .btn {
            min-width: 200px;
        }
        
        .float {
            position: fixed;
            cursor: pointer;
            display: block;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: rgba(0, 200, 0, 1);
            color: white;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            transition-duration: 0.5s;
            animation: pulse 3s infinite;
            z-index: 9000;
        }